.grayLabel
{
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
    -fx-text-fill: #939393;
    -fx-font-weight: bold;
}

.saveBtn
{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Verdana";
    -fx-text-fill: #ffffff;
    -fx-background-color: #2ecc71;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.saveBtn:hover
{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Verdana";
    -fx-text-fill: #ffffff;
    -fx-background-color: #27ae60;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.textField
{
    fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
}

.infoLabel
{
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
    -fx-text-fill: #2ecc71;
}

.errorLabel
{
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
    -fx-text-fill: #CF000F;
    -fx-font-weight: bold;
}