.grayLabel
{
    -fx-font-family: "Verdana";
    -fx-font-size: 25px;
    -fx-text-fill: #939393;
    -fx-font-weight: bold;
}

.saveBtn
{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Verdana";
    -fx-text-fill: #ffffff;
    -fx-background-color: #2ecc71;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.saveBtn:hover
{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "Verdana";
    -fx-text-fill: #ffffff;
    -fx-background-color: #27ae60;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .today {
    -fx-background-color: -fx-control-inner-background, #2ecc71, -fx-control-inner-background;
    -fx-background-insets: 1, 2, 3;
}

.date-picker-popup > * > .today:hover {
    -fx-background-color: -fx-control-inner-background, #27ae60, -fx-control-inner-background;
    -fx-text-fill: black;
}

.date-picker-popup .cell:hover
{
    -fx-background-color: #2ecc71;
    -fx-text-fill: #ffffff;
}

.date-picker-popup > * > .selected
{
    -fx-background-color: #27ae60;
    -fx-text-fill: #ffffff;
}

.date-picker-popup > * > .week-number-cell {
    -fx-text-fill: #27ae60;
}

.combo-box .list-cell:hover
{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2ecc71;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: #27ae60;
    -fx-text-fill: #ffffff;
}